* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-size: 16px; */
    font-family: monospace, sans-serif;
}

body {
    width: 100vw;
    
    position: relative;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    /* overflow-x: hidden; */
    
}

.main{
    width: 100vw;

}


/* ================ This is for Navigation bar ==================== */

.navigation {
    width: 100%;
    height: 80px;
    background-color: #aaa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    position: absolute;
    z-index: 1;
}
.navigation a{
    
    width: 15%;
}

.navigation .logo {
    width: 100%;
    cursor: pointer;
    mix-blend-mode: darken;
}

.search {
    width: 20%;
    height: 35px;
    background-color: #fff;
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 6px 6px 10px -1px #111;
}

.search>input {
    width: 10%;
    height: 100%;
    font-weight: 500;

}

.search>.search-field {
    width: 100%;
    height: 100%;
    border: 0;
    outline: none;
    padding: 0 5px 0 30px;
}

.search>i {
    width: 30px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 50px;
}

.search>::placeholder {
    color: #000;

}


.menu{
    display: flex;
    align-items: center;
    
}

.menu>ul{
    list-style: none;
    display: flex;  
}

.menu ul li{
    margin: 0 16px;
}

.menu ul>li a{
    color: #fff;
    position: relative;
    text-decoration: none;
    font-weight: 600;
}
.menu ul>li a:hover{

   
    opacity: 80%;
}
.menu ul>li a::before{
    content: '';
    width: 0%;
    height: 2px;
    background: #eee;
    position: absolute;
    left: -3px;
    bottom: -2px;
    border-radius: 50px;
    transition: .5s;
}
.menu ul>li a:hover::before,
.menu ul>li a.active::before{
    width: 110%;
    opacity: 80%;
}

.login-signup-btnMain{
    width: 90px;
    height: 40px;
    margin: 0 10px 0 60px;
    border: 1.9px solid #444;
    border-radius: 12px;
    position: relative;
    overflow: hidden;

}


.login-signup-btn{
    width: 100%;
    height: 100%;
    border: 0;
    outline: none;
    background-color: #ddd;
    color: #444;
    border: 0;
    overflow: none;    
    cursor: pointer;
    font-weight: 600;
    
}
.login-signup-btn:hover{
    opacity: 80%;
    transform: scale(105%);
    box-shadow: inset 0px 0px 10px -2px #111;
}



.menu-open-close{
    font-size: 20px;
    margin-right: 30px;
    margin-left: 20px;
    font-weight: 900;
    cursor: pointer;
    display: none;
}


/* =============================== Content part ============================== */

.container {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    z-index: 0;
    

}


/* ===================================== image slider ============================= */

.container .image-slider{
    width: 100%;
    height: 600px;
    /* background-color: blue; */
    margin-top: 90px;
    margin-bottom: 30px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

/* ============================== Slide aero================== */

.image-slider .aero{
    width:5%;
    cursor: pointer;
}

.image-slider>.right{
    transform: rotate(180deg);
}

.image-slider .frame{
    height: 514px;
    width: 900px;
    box-shadow: -10px 10px 10px rgba(0, 0,0 , .5);
    margin: 0 90px;
    background-color: pink;
    border-radius: 10px;
    overflow: hidden;
}

.frame .slider{
    width: 100%;
    height: 100%;
    display: flex;
    
    

}

.slider>.images{
    /* width: 100%; */
    /* height: 100%; */
    /* object-fit: cover; */
    /* background-position: center; */
    /* aspect-ratio: 4/2; */
    backdrop-filter: blur(200px);


}












/* =================================== welcome content ======================== */

.container .welcome-text{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 4rem;
    
}

.container .welcome-text>h2{
    font-size: 3.5rem;
    font-weight: 700;
    font-family: sans-serif;
    letter-spacing: 0.2em;
    font-style: oblique;
}

.container .welcome-text>p{
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 1rem;
    font-style: italic;
    text-shadow: 0px 4px 10px #222;
    
}

.welcome-text>p>span{
    color: #f00;
    text-shadow: 10px 10px 10px #222;
    font-size: 3.2rem;
    
   
}



.purpose{
   
    width: 60%;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 20px auto;
}
.purpose>p{
    font-family: cursive;
}










/* Pop up content part  */

#popup_main{
    display: none;
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -5;
    top: 0;
    left: 0;

}

.popup{

    display: none;

    width: 400px;
    height: 400px;
    background-color: #fff;
    transform: translate(0%, -50%);
    padding: 30px;
    border: 5px solid #000;
    border-radius: 10px;
}
.popup>i{
    font-size: 22px;
    cursor: pointer;
    transition: .2s;
}
.popup>i:hover{
    transform: scale(130%);
    opacity: 80%;
}

.popup>h2{
    text-align: center;
    margin-bottom: 50px;
}
.popup>p{
    font-size: 16px;
    font-family: cursive;
    font-style: justify;
}













/* ===================== footer part ==================== */
footer{
    width: 100%;
    min-height: 60px;
    background-color: #aaa;
    /* position: relative; */
    left: 0;
    bottom: -500px;
    padding: 0 200px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;

}


/* ================== footer logo ===================== */
footer>.logo-footer{
    width: 10%;
    mix-blend-mode: darken;
}


/* ========================= Quick links ========================= */

.quick-link{
    width: 20%;
    height: 60%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quick-link>a{
    margin: 0 10px;
}

.quick-link a>img{
    width: 25px;
    box-shadow: 0px 2px 10px -2px #111;
    border-radius: 50%;
    transition: .2s;
}

.quick-link a>img:hover{
    transform: scale(110%);
    box-shadow: 6px 6px 10px -6px #111;
    border-radius: 50%;
}


/* =========================== copy-right link/part ===================== */

.copy-right{
    width: 30%;
    height: 100%;
    font-size: 13px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 20px;
}



.copy-right>p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}


.copy-right .copyright-icon{
    width: 15px;
    margin-right: 5px;
}

/* ====================== footer social link ====================== */
.social-link{
    width: 10%;
    height: 60%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

}

.social-link>a{
    margin: 0 10px;
}


.facebook>img{
    width: 20px;
}

.instagram>img{
    width: 20px;
}

.youtube>img{
    width: 20px;
}
.social-link a>img{
     box-shadow: 6px 6px 10px -6px #111;
    border-radius: 50%;
    transition: .3s;
}

.social-link a>img:hover{
    transform: scale(110%);
    box-shadow: 6px 6px 10px -6px #111;
    border-radius: 50%;
}





















@media (max-width: 1000px) {
    .logo{
        width: 100px;
    }
    .search{
        width: 100px;
        display: none;
    }

   .menu ul{
    position: absolute;
    right: 0;
    top: 75px;
    display: flex;
    flex-direction: column;
    background-color: #aaa;
    width: 200px;
    height: fit-content;
    gap: 15px;
    padding: 20px;
    display: none;
   }

   .menu-open-close{
    display: block;
   }
}